/* General CSS reset and fonts */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 10px 10px;
  background-color: #fff;
  position: fixed; /* Make the header fixed */
  width: 100%; /* Ensure the header takes the full width */
  top: 0; /* Position it at the top */
  z-index: 1000; /* Ensure it appears above other content */
}

body {
  padding-top: 7em;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  width: 60px;
  margin-right: 10px; /* Add some space between the logo and text */
}

.school-name {
  font-size: 20px; /* Adjust the font size as needed */
  color: #000; /* Adjust the color to match your design */
  display: inline-block;
}
nav {
  display: flex;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 45px 0;
}

.menu li a {
  text-decoration: none;
  color: #555;
  font-size: 16px;
}

.menu li a:hover {
  color: #09B451;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: #000;
  margin: 4px 0;
  transition: 0.4s;
}
.contact-section h1 {
  color: #09B451;
  margin-bottom: 40px;
  margin-left: 40px;
}

.contact-section h1 span {
  color: #000;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.map-container {
  flex: 2;
  margin-right: 20px;
  margin-left: 40px;
  min-width: 250px;
}

.map-container iframe {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 8px;
  margin-bottom: 3em;
}

.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 250px;
}

.info-item {
  display: flex;
  align-items: top;
  margin-bottom: 15px;
  margin-right: 50px;
  margin-left: 5%;
  color: #000000;
}

.info-item i {
  margin-right: 10px;
  color: #000;
}

.info-item a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}

.info-item span {
  font-weight: 400;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links span {
  margin-left: 5%;
  margin-right: 10px;
  font-weight: bold;
}

.social-links a {
  color: #09B451;
  margin-right: 15px;
  font-size: 20px;
}

/* Footer Section */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: left;
}

.footer-content {
  margin-bottom: 20px;
}

.footer-content h2,
.footer-content p {
  margin-left: 80px;
}

.footer-content h2 {
  font-size: 32px;
  margin-bottom: 10px;
  text-align: left;
}

.footer-content p {
  font-size: 14px;
  font-weight: 150;
}

.socials {
  margin-top: 20px;
  margin-left: 4em;
}

.socials a {
  margin: 20px;
  color: #09B451;
}

.socials i {
  font-size: 24px;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: left;
}

.footer-content {
  margin-bottom: 20px;
}

.footer-content h2,
.footer-content p {
  margin-left: 80px;
}

.footer-content h2 {
  font-size: 32px;
  margin-bottom: 10px;
  text-align: left;
}

.footer-content p {
  font-size: 14px;
  font-weight: 150;
}

.socials {
  margin-top: 20px;
  margin-left: 4em;
}

.socials a {
  margin: 20px;
  color: #09B451;
}

.socials i {
  font-size: 24px;
}

.footer-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.footer-menu p {
  font-size: 16px;
  text-align: left;
}

.footer-menu span a:link {
  color: #09B451;
  text-decoration: none;
}

.footer-menu span a:visited {
  color: #09B451;
  text-decoration: none;
}
@media (max-width: 992px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .header {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .header h1 {
    max-width: 100%;
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .menu li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: flex;
    float: right;
  }

  .menu.active {
    display: flex;
  }
  .logo {
    margin-right: 0;
  }

  .about-logo {
    flex-direction: column;
  }

  .about-logo img {
    margin-bottom: 10px;
  }
  footer {
    background-color: #000; /* Set the background color for smaller screens */
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 28px;
  }

}

/* Footer Section */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: left;
}

.footer-content {
  margin-bottom: 20px;
}

.footer-content h2,
.footer-content p {
  margin-left: 40px;
}

.footer-content h2 {
  font-size: 32px;
  margin-bottom: 10px;
  text-align: left;
}

.footer-content p {
  font-size: 14px;
  font-weight: 150;
}

.socials {
  margin-top: 20px;
  margin-left: 20px;
}

.socials a {
  margin: 20px;
  color: #09B451;
}

.socials i {
  font-size: 24px;
}

.footer-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.footer-menu p {
  font-size: 16px;
  text-align: left;
}

.footer-menu span a:link {
  color: #09B451;
  text-decoration: none;
}

.footer-menu span a:visited {
  color: #09B451;
  text-decoration: none;
}

