* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

body {
  padding-top: 7em;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.school-name {
  font-size: 20px;
  color: #000;
  display: inline-block;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 10px;
}

.menu li a {
  text-decoration: none;
  color: #555;
  font-size: 16px;
}

.menu li a:hover {
  color: #09B451;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: #000;
  margin: 4px 0;
  transition: 0.4s;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
}

nav ul li a .dropdown-button {
  margin-left: 5px;
  font-size: 12px;
}

nav ul li:hover a {
  background-color: #ffffff;
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ffffff;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 18px;
  width: fit-content;
}

nav ul li:hover ul {
  display: block;
  background-color: #ffffff;
}

nav ul li ul li a {
  padding: 10px;
  white-space: nowrap;
}

nav ul li ul li a:hover {
  background-color: #fff;
}

.intro {
  width: 80%; /* Adjust to full width */
  text-align: center;
}



/* Circle Section */
.circles {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Ensure circles wrap properly */
  overflow: hidden; /* Prevent overflow */
}

.center-circle {
  width: 230px;
  height: 230px;
  background-color: #ffac1c;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 1;
  margin: 20px; /* Add margin for spacing */
}

.circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #aaa;
  margin: 20px; /* Add margin for spacing */
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle p {
  margin: 0;
  padding: 5px 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -20px;
}

.circle:hover {
  transform: scale(1.1);
  
}

/* Specific positions for the circles, adjust as needed */
#infrastructure {
  top: 4%;
  left: 45%;
}

#education {
  top: 30%;
  right: 5%;
}

#arts {
  top: 63%;
  right: 10%;
}

#sports {
  bottom: 5%;
  right: 45%;
}

#residential-program {
  bottom: 30%;
  left: 5%;
}

/* Media Queries */
@media (max-width: 992px) {
  .circles {
    flex-direction: column; /* Stack circles vertically */
    align-items: center;
  }

  .circle, .center-circle {
    width: 140px; /* Smaller size for smaller screens */
    height: 140px;
  }

  #infrastructure, #education, #arts, #sports, #residential-program {
    position: static; /* Remove specific positions */
    margin: 10px 0; /* Add spacing between circles */
  }
}

@media (max-width: 768px) {
  .circle, .center-circle {
    width: 120px; /* Smaller size for smaller screens */
    height: 120px;
  }

  .circles {
    flex-direction: column;
    align-items: center;
  }

  #infrastructure, #education, #arts, #sports, #residential-program {
    position: static;
    margin: 10px 0;
  }
}

@media (max-width: 448px) {
  .center-circle {
    width: 250px; /* Smaller size for smaller screens */
    height: 250px;
  }

  .circle{
  }

  .circles {
    flex-direction: column;
    align-items: center;
  }

  #infrastructure, #education, #arts, #sports, #residential-program {
    position: static;
    margin: 10px 0;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 130px;
  background-color: #fff;
  position: relative;
  text-align: center;
}

.hero-text {
  max-width: 50%;
  text-align: left;
  margin-right: 20px;
}

.hero-text h1 {
  font-size: 48px;
  line-height: 1.2;
}

.hero-text .highlight {
  color: #09B451;
}

.hero-text p {
  margin-top: 3em;
  font-size: 18px;
  color: #777;
}

.registration {
  color: #fff;
  background-color: #09B451;
  border-color: #000;
  border-radius: 30px;
  width: 140px;
  height: 40px;
}

.registration a:link,
.registration a:visited,
.registration a:hover,
.registration a:active {
  text-decoration: none;
  color: #fff;
}

.scroll-down {
  display: inline-block;
  margin-top: 20px;
  font-size: 24px;
  color: #09B451;
  text-decoration: none;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.hero-image img {
  width: 350px;
  height: auto;
  border-radius: 8px 8px 110px 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 3px black solid;
}

.about {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
}

.about-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.about-logo img {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.about-logo h2 {
  color: #09B451;
}

.about-text {
  padding: 0 10%;
  margin-top: 20px;
  font-size: 20px;
}

.about-text p {
  font-size: 21px;
  line-height: 1.6;
  color: #000;
}

/* Media Queries */
@media (max-width: 992px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .header {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .header h1 {
    max-width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .alumni-cards {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .menu li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: flex;
    float: right;
  }

  .menu.active {
    display: flex;
  }

  .hero {
    flex-direction: column;
    padding: 20px;
  }

  .hero-text, .hero-image {
    max-width: 100%;
    margin: 0;
  }

  .logo {
    margin-right: 0;
  }

  .about-logo {
    flex-direction: column;
  }

  .about-logo img {
    margin-bottom: 10px;
  }

  .alumni-cards {
    flex-direction: column;
  }

  .activity {
    width: calc(50% - 20px);
  }

  footer {
    background-color: #ffac1c;
  }

  nav ul {
    display: block;
  }
  
  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  nav ul li ul {
    position: static;
  }
}

@media (max-width: 448px) {
  .header h1 {
    font-size: 28px;
  }
  .alumni-card h3 {
    font-size: 20px;
  }

  .alumni-card .description {
    font-size: 14px;
  }

  .activity {
    width: 100%;
  }

  .about {
    margin-top: 2em;
  }

  .intro {
    display: flex;
    text-align: center;
    margin: 0 10px; /* Adjusted margins */
    margin-top: 100px;
  }
  
  .center-circle {
    display: flex;
    justify-content: center;
    margin: 50px auto 0; /* Centered */
  }

  #infrastructure {
    left: 2em;
    top: 30em;
  }

  #education {
    right: 14em;
    top: 30em;
  }

  #arts {
    left: 2em;
    top: 42em;
  }

  #sports {
    right: 14em;
    top: 42em;
  }

  #residential-program {
    right: 14em;
    top: 54em;
  }
}

.image-banner-section {
  width: 100%;
  overflow: hidden;
  background-color: #333;
}

.banner {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.banner-track {
  display: flex;
  animation: scroll 20s linear infinite;
}

.banner-track img {
  width: 100vw;
  height: auto;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

/* Footer Section */
footer {
  background-color: #ffac1c;
  color: #000;
  padding: 20px 0;
  text-align: left;
}

.footer-content {
  margin-bottom: 20px;
}

.footer-content h2,
.footer-content p {
  margin-left: 80px;
}

.footer-content h2 {
  font-size: 32px;
  margin-bottom: 10px;
  text-align: left;
}

.footer-content p {
  font-size: 14px;
  font-weight: 550;
}

.socials {
  margin-top: 20px;
  margin-left: 4em;
}

.socials a {
  margin: 20px;
  color: #000;
}

.socials i {
  font-size: 24px;
}

.footer-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.footer-menu p {
  font-size: 16px;
  text-align: left;
}

.footer-menu span a:link {
  color: #09B451;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
}

.footer-menu span a:visited {
  color: #09B451;
  text-decoration: none;
}

.footer-copyright {
  text-align: center;
  font-size: small;
}
